<!doctype html>
<html lang="en" ng-app="dashboard">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Data Envision</title>
	
	

	<!-- CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
		<!-- <link href="css/angular.treeview.css" rel="stylesheet" type="text/css" /> -->
		<!-- <link href="css/tree.css" rel="stylesheet" type="text/css" /> -->
		<!-- <link href="css/dashboard.css" rel="stylesheet" type="text/css" /> -->
		<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
		<!-- Ionicons -->
		<link href="css/ionicons.min.css" rel="stylesheet" type="text/css" />
		<!-- Theme style -->
		<link href="css/AdminLTE.css" rel="stylesheet" type="text/css" />
	</head>

	<!DOCTYPE html>

    <body class="skin-blue">
        <!-- header logo: style can be found in header.less -->
        <header class="header">
            <a href="#" class="logo">
                <!-- Add the class icon to your logo image or logo icon to add the margining -->
                Data Envision  <sup>+</sup>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                    
                </div>
            </nav>
        </header>
        <div class="wrapper row-offcanvas row-offcanvas-left" ng-controller="DashboardCtrl">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">                
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="img/avatar3.png" class="img-circle" alt="User Image" />
                        </div>
                        <div class="pull-left info">
                            <p>Hello, User</p>

                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <!-- search form -->
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search..."/>
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li><a href=""><i class="glyphicon glyphicon-dashboard"></i> Metrics </a></li>
						<ul>
							<li ng-repeat="(roleIndex,role) in roles">
								<a href=""><i class="glyphicon glyphicon-link"></i>
								<span ng-click="selectedRoleId(role, roleIndex)"> {{ role.name }}</span> 
								</a>
								<ul>
									<li ng-repeat="(catalogIndex,catalog) in catalogs" ng-show="isShowingCatalogs(roleIndex)">
										<a href=""><i class="glyphicon glyphicon-link"></i>
											<span ng-click="selectedCatalogId(catalog, catalogIndex)"> {{ catalog.name}}</span>
										</a>
										<ul>
											<li ng-repeat="(stageIndex, stage) in stages" ng-show="isShowingStages(catalogIndex)">
												<a href=""><i class="glyphicon glyphicon-link"></i>
													<span ng-click="selectedStageId(stage, stageIndex)"> {{ stage.name}}</span>
												</a>
												<ul>
													<li ng-repeat="metric in metrics" ng-show="isShowingMetrics(stageIndex)">
														<a href="">{{ metric.name}}
														</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>

						<li><a href="#/charts"><i class="glyphicon glyphicon-picture"></i>  Yearly Temparature</a></li>
						<li><a href="#/charts2"><i class="glyphicon glyphicon-picture"></i>  Highest vs Lowest Temp.</a></li>
						<li><a href="#/upload"><i class="glyphicon glyphicon-tasks"></i>  Upload</a></li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">                
                <!-- Main content -->
                <section class="content">
                	<div ng-view></div>
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

		<!-- <div id="footer" class="container">
			<nav class="navbar navbar-default navbar-fixed-bottom">
				<div class="navbar-inner navbar-content-center">
					<p class="text-muted credit">
						© 2014 Data Envision<sup>+</sup>. All Rights Reserved to <a href="http://www.qubitinformationsystems.com/">Qubit Information Systems.</a> LLC.
					</p>
				</div>
			</nav>
		</div> -->

		<!-- jQuery 2.0.2 -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <!-- scripts -->
        <script src="js/jquery-2.1.1.min.js"></script>
		<script src="lib/angular/angular.min.js"></script>
		<script src="lib/angular/angular-route.js"></script>
		<script src="lib/angular/angular-route.min.js"></script>
		<!-- // <script src="lib/angular/angular-route.min.js.map"></script> -->
		<script src="lib/angular/angular-cookies.min.js"></script>
		<script src="lib/angular/angular-resource.min.js"></script>
		<script src="lib/angular/angular-loader.min.js"></script>
		<!-- // <script src="lib/angular/angular-sanitize.min.js"></script> -->
		<!-- // <script src="lib/angular/angular-mocks.js"></script> -->
		<script src="lib/angular/ng-upload.js"></script>
		<script src="lib/angular/angular.treeview.js"></script>
		<!-- // <script src="lib/angular/abn_tree_directive.js"></script> -->
        <script src="js/bootstrap.js"></script>
		<script src="js/dashboard.js"></script>
		<script src="js/dropdown.js"></script>
		<script src="js/ngTree.js"></script>
		<script src="js/onReadFile.js"></script>

	<!-- 	// <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
		<!-- // <script src="http://code.highcharts.com/stock/highstock.src.js"></script> -->
		<!-- // <script src="http://code.highcharts.com/stock/highstock.js"></script> -->
		<script src="js/highcharts/highcharts.js"></script>
		<script src="js/highcharts/highcharts-more.js"></script>
		<script src="js/highcharts/modules/exporting.js"></script>
		<!-- // <script src="js/highcharts.src.js"></script> -->
		<script src="js/highcharts-ng.min.js"></script>
		<script src="js/app.js"></script>
		<script src="js/services.js"></script>
        <script src="js/directives.js"></script>
		<script src="js/controllers.js"></script>
	</body>
</html>
