<section class="content">
	<div class="row" ng-controller="ChartCtrl">
		<div class="col-md-6">
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h1 class="box-title"> Upload HR Metric Data</h1>
				</div>
				<div class="box-body">
					<table class="table">
						<tbody>
							<tr>
								<label>Select Sla Level : </label>
								<select class="form-control" >
									<option>1 ( HC Call Responsiveness )</option>
									<option>2 ( HC First Call Resolution )</option>
									<option>3 ( HC Level 3 Case Resolution )</option>
								</select><br/>
							</tr>
							<tr>
								<b>For : </b>&nbsp;
								<input type="number" name="week" min="1" max="999" ng-model="week" required class="input-mini"> &nbsp;<sup>rd</sup> Week.
							</tr>
							<tr>
								<td>
									<b>Current Year :</b>	
									<input type="number" name="Current_year" min="1" max="999" ng-model="current_year" required class="input-mini">  %
								</td>
								<td>
									<b>Last Year :</b>	
									<input type="number" name="Current_year" min="1" max="999" ng-model="last_year" required class="input-mini">  %
								</td>
							</tr>
							<tr>
								<td>
									<b>Low Range :</b>	
									<input type="number" name="Current_year" min="1" max="999" ng-model="sla_low_range" required class="input-mini">  %
								</td>
								<td>
									<b>High Range:</b>	
									<input type="number" name="Current_year" min="1" max="999" ng-model="sla_high_range" required class="input-mini">  %
								</td>
							</tr>
						</tbody>
					</table>
					<div class="box-footer">
						<input class="btn btn-primary" type="submit" value="Upload" ng-click="HR_metric_upload()"></input>
					</div>
				</div><!--/.box-body-->
			</div><!-- /.box-body-->
		</div>
		<div class="col-md-6">
			<div class="box box-solid box-info">
				<div class="box-header">
					<h1 class="box-title">Upload HR Metric Data (via csv file)</h1>
				</div>
				<div class="box-body">
					<div class="row">
						<div class="col-sm-12" ng-controller="MetricUploadCtrl">
							<form role="form" name="upload" action  = "/metricdashboard/uploads" ng-upload="complete(contents)">
								<div class="box-body">
									<label for="exampleInputFile">File input</label><br/><br/>
									<div class="input-group margin">
										<span class="btn btn-primary btn-file">
										Browse<input type="file" name="avatar" on-read-file="showContent($fileContent)"></input>
										</span>
									</div>
									<!-- <input type="file" name="avatar" on-read-file="showContent($fileContent)"></input> -->
									<br/>
									<p class="help-block">Upload csv file to add Operational SLA HR metric Data</p>
								</div>
								<div ng-if="content">
									<h2>File Contents</h2>
									<pre>{{ content }}</pre><br/><hr/>
									<pre><h2>Converted CSV into Json :=> </h2><br/>{{ jsonContent }}</pre>
								</div>
								<br/>
								<div class="box-footer">
									<input class="btn btn-info" type="submit" value="Upload" upload-submit></input>
								</div>
								<!-- <a href='javascript:void(0)' class="upload-submit"> Upload </a> -->
							</form>
						</div>
					</div>
				</div><!-- /.box-body -->
			</div><!-- /.box-body-->
		</div>
	</div>
</section>
<script src="js/jquery.csv-0.71.min.js"></script>
<script src="js/adminLTE/app.js"></script>
<script src="js/adminLTE/demo.js"></script>