
	<!-- <div class="container">
		<div class="row"> -->
	<!-- <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="images/Spline_w_symbols.png"/></div> -->
		<!-- 	<div class="col-md-3 col-sm-4 col-xs-6"><a href="#/charts3"><img class="img-responsive" src="images/maxmintemp.png" /></a></div>
			<div class="col-md-3 col-sm-4 col-xs-6"><a href="#/charts"><img class="img-responsive" src="images/annualtemp.png" /></a></div> -->
	<!-- <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="images/chart.png" /></div> -->
		<!-- </div> -->
	<!-- <div class="row">
	<div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="images/windrose.png" /></div>
	<div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="images/20100115-ksnbb1p69f71m15h3d762kbnyu.png" /></div>
	<div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="images/screenshot.jpg" /></div>
	<div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" src="" /></div>
	</div> -->
 	<!-- </div> -->


<section class="content-header">
	<h1>Dashboard
		<small class="lead">(Control panel)</small>
	</h1>
	<hr/>
<!-- <div class="container mt40">
    <section class="row">

        <article class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="#/charts3" title="Line Charts" class="zoom" data-title="line chart" data-type="image" data-toggle="lightbox">
                        <img src="images/maxmintemp.png" alt="max-min-temp" />
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                <div class="panel-footer">
                    <h4><a href="#">Line Charts</a></h4>
                </div>
            </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="#/charts3" title="Area Charts" class="zoom" data-title="area chart" data-type="image" data-toggle="lightbox">
                        <img src="images/annualtemp.png" alt="max-min-temp" />
                        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                    </a>
                </div>
                <div class="panel-footer">
                    <h4><a href="#">Area Charts</a></h4>
                </div>
            </div>
        </article>
	</section> -->

	<section class="content">
		<div class="row">
			<div class="col-lg-3 col-xs-6">
			<!-- small box -->
				<div class="small-box bg-aqua">
					<div class="inner">
						<h3>Temp</h3>
						<p>Climate Statics</p>
					</div>
					<div class="icon">
						<img class="col-xs-6" src="images/annualtemp.png" class="img-rounded" alt="max-min"/>
					</div>
					<a href="#/charts" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div><!-- ./col -->

			<div class="col-lg-3 col-xs-6">
				<!-- small box -->
				<div class="small-box bg-green">
					<div class="inner">
						<h5>Highest vs Lowest Temp.</h5>
						<p>Bounce Rate</p>
					</div>
					<div class="icon">
						<img class="col-xs-6" src="images/maxmintemp.png" class="img-rounded" alt="max-min"/>
					</div>
					<a href="#/charts3" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div><!-- ./col -->

			<div class="col-lg-3 col-xs-6">
				<!-- small box -->
				<div class="small-box bg-yellow">
					<div class="inner">
						<h3>44</h3>
						<p>User Registrations</p>
					</div>
					<div class="icon">
						<i class="ion ion-person-add"></i>
					</div>
					<a href="#/register" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div><!-- ./col -->

			<div class="col-lg-3 col-xs-6">
                            <!-- small box -->
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <h3>
                                        Data
                                    </h3>
                                    <p>
                                        Uploads
                                    </p>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-pie-graph"></i>
                                </div>
                                <a href="#/upload" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div><!-- ./col -->
                    </div><!-- /.row -->
	</section>
                                        

</section>
</div>